@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #dbeafe;
}
